os = System.properties["os.name"]
osName = os.contains("OS X") ? "osx" : "linux"
mongodbVersion = "2.6.3"

serviceName = "scalarm_storage_manager"
downloadPath = "https://github.com/Scalarm/scalarm_storage_manager/archive/master.zip"
mongodbDownloadUrl = "http://fastdl.mongodb.org/${osName}/mongodb-${osName}-x86_64-${mongodbVersion}.tgz"
